##############################################################################
# This is the top-level .gitignore file for the WRF model                    #
#                                                                            #
# Filenames and wildcards added below will not be tracked by git in any      #
# directory in the repository                                                #
#                                                                            #
# Ignored file types should include executables, build-time temporary files, #
# and other files which should not ever be added to the code repository.     #
#                                                                            #
# USE CAUTION WHEN ADDING WILDCARDS, as some builds use different filename   #
# conventions than others                                                    #
##############################################################################
*.exe
*.o
*.mod
*.a
configure.wrf*
*.backup
*.f90

# Local WRF-SFIRE build and run artifacts
*.log
wrfinput_d0*
wrfbdy_d0*
wrfout_d0*
rsl.error.*
rsl.out.*
namelist.output
fuels.m
Registry/Registry
Registry/io_boilerplate_temporary.inc
frame/md_calls.inc
frame/module_dm.F
frame/module_state_description.F
inc/dm_comm_cpp_flags
inc/wrf_io_flags.h
inc/wrf_status_codes.h
run/input_sounding
run/namelist.input
run/MPTABLE.TBL
test/em_fire/README.namelist
test/em_fire/rain/
test/em_fire/two_fires/
tools/gen_comms.c
tools/registry
external/io_int/diffwrf
external/io_int/io_int_idx_tags.h
external/io_int/test_io_idx
phys/module_sf_noahmp_glacier.F
phys/module_sf_noahmp_groundwater.F
phys/module_sf_noahmpdrv.F
phys/module_sf_noahmplsm.F
output/
__pycache__/
